h1,
h2 {
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cookie-container {
  background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  width: 30rem;
  height: 12rem;
  border-radius: 1.2rem;
  padding: 1.2rem;
  align-items: center;
  overflow: hidden;
}
.text {
}
.cookie {
  width: 70%;
  padding-right: 2rem;
  transform: scale(0.6);
}
.cookie-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.cookie-subtitle {
  font-size: 0.7rem;
  font-weight: lighter;
}
button {
  border-style: none;
  padding: 0.5rem 0.4rem;
  color: #4f2626;
  background-color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.3rem;
  font-family: 'Poppins', sans-serif;

}
